<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.kamosoft.happycontacts" android:versionCode="18"
	android:versionName="2.9" android:installLocation="internalOnly">

	<application android:icon="@drawable/icon" android:theme="@style/Theme.HappyContacts"
		android:label="@string/app_name">
		<activity android:name=".HappyContactsPreferences"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".NameListActivity" />
		<activity android:name=".DateListActivity" />
		<!-- activity android:name="ContactsPopupActivity" android:theme="@android:style/Theme.Dialog" 
			/ -->
		<activity android:name="ReminderPopupActivity"
			android:launchMode="singleInstance" android:excludeFromRecents="true"
			android:taskAffinity="" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".blacklist.BlackListActivity" />
		<activity android:name=".template.SmsTemplateActivity" />
		<activity android:name=".template.MailTemplateActivity" />

		<service android:name="DayMatcherService" />

		<receiver android:name=".alarm.AlarmReceiver" />
		<receiver android:name=".alarm.OnBootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".alarm.OnUpgradeReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" android:path="com.kamosoft.happycontacts" />
			</intent-filter>
		</receiver>
		<activity android:name="WhiteListActivity" />
		<activity android:name="PickContactsListActivity" />
		<activity android:name="PickNameDayListActivity" />

		<activity android:name=".facebook.FacebookActivity" />
		<activity android:name=".facebook.FacebookLoginActivity"
			android:label="@string/facebooklogin" />

		<activity android:name=".birthday.BirthdayActivity"></activity>
		<activity android:name=".birthday.PickBirthdayActivity"></activity>

		<activity android:name=".gdata.GoogleContactsActivity"
			android:clearTaskOnLaunch="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="happycontacts" />
			</intent-filter>
		</activity>
		<activity android:name=".events.NextEventsActivity"></activity>
		<!-- the widget -->
		<receiver android:name=".widget.HappyContactsWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_info" />
		</receiver>
		<service android:name=".widget.HappyContactsWidget$UpdateService" />
	</application>

	<uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />

	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:anyDensity="true" />

</manifest> 
